.div-footer-card{
    display: flex;justify-content: end;
}

#accordionSidebar .nav-item .nav-link i {
    font-size: 20px; /* Aumenta el tamaño del ícono */
  }
  
  #accordionSidebar .nav-item .nav-link span {
    font-size: 20px; /* Aumenta el tamaño del texto */
  }
  